
@Scripts.Render("~/bundles/cytoscape")

<style>
    body, html {
        height: 100%;
        padding-bottom: 70px;
    }
    body > div.container {
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;

        height: 100%;
    }
</style>
<script language="javascript">
    $(function () {

        var loadGlobalVisualization = function(id) {

            $.get(location.origin + '/api/Visualization/Global/' + id, function (data) {

                var cy = cytoscape({
                    container: document.getElementById('cy'),

                    elements: data,

                    style: [
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#666',
                                'label': 'data(method)',
                                'width': 10,
                                'height': 10,
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 2,
                                'line-color': '#ccc',
                                'target-arrow-color': '#ccc',
                                'target-arrow-shape': 'triangle'
                            }
                        }
                    ],

                    layout: {
                        name: 'grid'
                        , rows: 40
                    },

                    ready: function () {
                        window.cy = this;
                    },

                    wheelSensitivity: 0.1
                });

                cy.animate({
                    pan: { x: 50, y: 50 },
                    zoom: 1
                },
                    {
                        duration: 1000
                    });

                $(cy.filter('node')).each(function () {
                    this.style('height', this.data().size);
                    this.style('width', this.data().size);

                    this.style('background-color', '#' + this.data().color);
                });

            });
        };

        $.get(location.origin + '/api/Visualization/Global/Projects', function (data) {
            $.each(data, function (i, item) {
                $('.selectpicker').append($('<option>', {
                    value: item.key,
                    text: item.value
                }));
            });

            $('.selectpicker').selectpicker('refresh');

            var firstOption = $(".selectpicker").val($(".selectpicker option:first").val());

            if (firstOption)
                loadGlobalVisualization(firstOption);
        });

        $('.selectpicker').on('change', function () {
            var selected = $('.selectpicker option:selected').val();

            if (selected) 
                loadGlobalVisualization(selected);
        });
    });
</script>

<h2>Global View</h2>
<br />

<label>Select project:</label>
<select class="selectpicker show-tick" data-width="auto">
</select>
<br />
<br />

<div id="cy"></div>