
@Styles.Render("~/Content/detail-box")
@Scripts.Render("~/bundles/detail-box")
@Scripts.Render("~/bundles/threejs")

<style>
    body, html {
        height: 100%;
        padding-bottom: 50px;
    }
    html, body, .container-fluid, .row, main, .canvasRenderRelativeSize {
        height: 100%;
    }
</style>
<script>
    function drawLine(x1, y1, z1, x2, y2, z2, hexColor) {
        var geometry = new THREE.Geometry();
        geometry.vertices.push(new THREE.Vector3(x1, y1, z1));
        geometry.vertices.push(new THREE.Vector3(x2, y2, z2));

        var material = new THREE.LineBasicMaterial({ color: hexColor });

        return new THREE.Line(geometry, material);
    }

    function drawCubeOnGraph(positionX, positionZ, lines, hexColor, mostHighFileLine) {
        var height = lines * 50 / mostHighFileLine;

        var ySize = height;
        var xSize = 0.6;
        var zSize = 0.6;

        var geometry = new THREE.BoxGeometry(xSize, ySize, zSize);
        var material = new THREE.MeshBasicMaterial({ color: hexColor });
        material.opacity = 0.5;
        material.transparent = true;
        material.representation = 'cubeOnGraph';
        var cube = new THREE.Mesh(geometry, material);

        cube.position.y = ySize / 2;
        cube.position.x = xSize / 2 + (1 - xSize) / 2 + 0.1 + positionX;
        cube.position.z = zSize / 2 + (1 - zSize) / 2 + 0.1 + positionZ;

        return cube;
    }

    function drawHideCubeButton(positionX, positionZ, height, hexColor) {
        var radius = 0.3;
        var spherePositionMarginFix = 0.3
        var topMargin = 0.3;
        var positionY = height;

        var geometry = new THREE.SphereGeometry(radius, 20, 20);
        var material = new THREE.MeshBasicMaterial({ color: hexColor });
        var sphere = new THREE.Mesh(geometry, material);

        material.opacity = 0.5;
        material.transparent = true;
        material.representation = 'sphereOfTheCube';

        sphere.position.y = radius + topMargin + positionY;
        sphere.position.x = radius + spherePositionMarginFix + positionX;
        sphere.position.z = radius + spherePositionMarginFix + positionZ;

        return sphere;
    }

    function drawTorusOnGraph(positionX, positionZ, line, mostHighFileLine) {
        var height = line * 50 / mostHighFileLine;
        var graphPositionMarginFix = 0.1;
        var radius = 0.4;

        var geometryTorus = new THREE.TorusGeometry(radius, 0.05, 100, 100);
        var materialTorus = new THREE.MeshBasicMaterial({ color: 0x0000ff });
        var torus = new THREE.Mesh(geometryTorus, materialTorus);

        materialTorus.representation = 'ringOnGraph';

        torus.position.y = 0.5 + height / 2;
        torus.position.x = 0.5 + graphPositionMarginFix + positionX;
        torus.position.z = 0.5 + graphPositionMarginFix + positionZ;
        torus.rotation.x = 1.6; //flip to horizontal

        return torus;
    }

    function drawTorusSquareOnGraph(positionX, positionZ, line, mostHighFileLine) {
        var height = line * 50 / mostHighFileLine;
        var graphPositionMarginFix = 0.1;
        var radius = 0.4;

        var geometryTorus = new THREE.TorusGeometry(radius, 0.05, 100, 4);
        var materialTorus = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
        var torus = new THREE.Mesh(geometryTorus, materialTorus);

        materialTorus.representation = 'ringSquareOnGraph';

        torus.position.y = 0.5 + height / 2;
        torus.position.x = 0.5 + graphPositionMarginFix + positionX;
        torus.position.z = 0.5 + graphPositionMarginFix + positionZ;
        torus.rotation.x = 1.6; //flip to horizontal
        torus.rotation.z = 0.8; //rotate to equal cube node

        return torus;
    }

    function getRamdomColor() {
        return '#' + Math.floor(Math.random() * 16777215).toString(16);
    }

    function onDocumentMouseMove(event) {
        var positions = document.body.getElementsByClassName("canvasRenderRelativeSize")[0].getBoundingClientRect();

        setMouseRelativePosition(event, positions);
    }

    function setMouseRelativePosition(eventAbsolute, relativePositions) {
        mouse.x = ((eventAbsolute.clientX - relativePositions.x) / getRelativeWidth()) * 2 - 1;
        mouse.y = - ((eventAbsolute.clientY - relativePositions.y) / getRelativeHeight()) * 2 + 1;
    }

    function onDocumentMouseDown(event) {
        var positions = document.body.getElementsByClassName("canvasRenderRelativeSize")[0].getBoundingClientRect();
        setMouseRelativePosition(event, positions);

        raycaster.setFromCamera(mouse, camera);

        var intersects = raycaster.intersectObjects(scene.children);
        if (intersects.length > 0) {
            var intersect = intersects[0];

            console.log(intersect.object.material.representation);

            if (intersect.object.material.representation == 'ringOnGraph') {
                var box = document.getElementsByClassName("detail-box")[0];

                if (box.style.visibility == 'visible')
                    box.style.visibility = 'hidden';
                else
                    box.style.visibility = 'visible';
            }

            if (intersect.object.material.representation == 'sphereOfTheCube') {
                var cubeFromSphere = scene.getObjectById(intersect.object.cubeId, true);

                if (cubeFromSphere.visible)
                    cubeFromSphere.visible = false;
                else
                    cubeFromSphere.visible = true;
            }

            if (intersect.object.material.representation == 'ringSquareOnGraph') {
                var box = document.getElementsByClassName("detail-box")[0];

                if (box.style.visibility == 'visible')
                    box.style.visibility = 'hidden';
                else
                    box.style.visibility = 'visible';
            }
        }
    }

    function getRelativeHeight() {
        return document.body.getElementsByClassName("canvasRenderRelativeSize")[0].offsetHeight;
    }

    function getRelativeWidth() {
        return document.body.getElementsByClassName("canvasRenderRelativeSize")[0].offsetWidth;
    }

    function onWindowResize() {
        camera.aspect = getRelativeWidth() / getRelativeHeight();
        camera.updateProjectionMatrix();

        renderer.setSize(getRelativeWidth(), getRelativeHeight());
    }

    var camera = new THREE.PerspectiveCamera(45, 0, 1, 500);
    var scene = new THREE.Scene();
    var mouse = new THREE.Vector2();
    var raycaster = new THREE.Raycaster();
    var renderer = new THREE.WebGLRenderer();

    document.addEventListener("DOMContentLoaded", function () {
        renderer.setSize(getRelativeWidth(), getRelativeHeight());
        document.body.getElementsByClassName("canvasRenderRelativeSize")[0].appendChild(renderer.domElement);

        camera.position.set(60, 60, 60);
        camera.lookAt(new THREE.Vector3(0, 0, 0));

        var orbit = new THREE.OrbitControls(camera, renderer.domElement);
        orbit.enableZoom = true;

        //--
        //scene.add( drawLine(0, 0, 0, 30, 0, 0, 0x0000ff) ); //x axis is blue
        //scene.add( drawLine(0, 0, 0, 0, 30, 0, 0x00ff00) ); //y axis is green
        //scene.add( drawLine(0, 0, 0, 0, 0, 30, 0xff0000) ); //z axis is red

        scene.add(new THREE.AxesHelper(30));
        //--

        //var geometryPlane = new THREE.PlaneGeometry( 5, 5 );
        //var materialPlane = new THREE.MeshBasicMaterial( {color: 0xffff00, side: THREE.DoubleSide} );
        //var plane = new THREE.Mesh( geometryPlane, materialPlane );

        //plane.position.y = 10;
        //plane.position.x = 10;

        //scene.add( plane );
        //--

        var ghSize = 30;

        var gridHelper = new THREE.GridHelper(ghSize, 30);
        gridHelper.position.x = ghSize / 2 + 0.1;
        gridHelper.position.y = 0;
        gridHelper.position.z = ghSize / 2 + 0.1;

        scene.add(gridHelper);
        //--

        var files = [
            {
                x: 0, z: 9, lines: 1300, color: getRamdomColor(), breakpoints: [
                    { line: 20 }
                ], events: []
            },
            {
                x: 1, z: 9, lines: 210, color: getRamdomColor(), breakpoints: [
                    { line: 30 },
                    { line: 40 }
                ], events: []
            },
            {
                x: 2, z: 9, lines: 489, color: getRamdomColor(), breakpoints: [
                ], events: [
                    { line: 100 },
                    { line: 300 },
                    { line: 350 },
                ]
            },
            { x: 0, z: 10, lines: 10, color: getRamdomColor(), breakpoints: [], events: [] },
            { x: 1, z: 10, lines: 890, color: getRamdomColor(), breakpoints: [], events: [] },
            {
                x: 2, z: 10, lines: 2200, color: getRamdomColor(), breakpoints: [
                    { line: 478 },
                    { line: 510 },
                    { line: 515 },
                ], events: []
            },
            { x: 0, z: 11, lines: 25, color: getRamdomColor(), breakpoints: [], events: [] },
            { x: 1, z: 11, lines: 245, color: getRamdomColor(), breakpoints: [], events: [] },
            { x: 2, z: 11, lines: 459, color: getRamdomColor(), breakpoints: [], events: [] },
            {
                x: 3, z: 2, lines: 31, color: getRamdomColor(), breakpoints: [
                    { line: 2 },
                    { line: 31 },
                ], events: []
            },
            {
                x: 7, z: 4, lines: 357, color: getRamdomColor(), breakpoints: [
                    { line: 210 },
                    { line: 211 },
                    { line: 213 },
                    { line: 355 },
                ], events: []
            },
            { x: 1, z: 20, lines: 1672, color: getRamdomColor(), breakpoints: [], events: [] },
        ];

        //Math.floor(Math.random() * 31)

        var mostHighFileLine = 0;
        for (var i = 0; i < files.length; i++) {
            if (files[i].lines > mostHighFileLine)
                mostHighFileLine = files[i].lines;
        }

        for (var i = 0; i < files.length; i++) {
            var cube = drawCubeOnGraph(files[i].x, files[i].z, files[i].lines, files[i].color, mostHighFileLine);
            var hideButton = drawHideCubeButton(files[i].x, files[i].z, cube.geometry.parameters.height, files[i].color);

            hideButton.cubeId = cube.id;

            for (var j = 0; j < files[i].breakpoints.length; j++) {
                scene.add(drawTorusOnGraph(files[i].x, files[i].z, files[i].breakpoints[j].line, mostHighFileLine));
            }

            for (var j = 0; j < files[i].events.length; j++) {
                scene.add(drawTorusSquareOnGraph(files[i].x, files[i].z, files[i].events[j].line, mostHighFileLine));
            }

            scene.add(cube);
            scene.add(hideButton);
        }

        var cubeWithRintHeight = Math.floor(Math.random() * 31);
        scene.add(drawCubeOnGraph(12, 15, 100, getRamdomColor()));

        //--

        var geometrySphere = new THREE.SphereGeometry(0.5, 20, 20);
        var materialSphere = new THREE.MeshBasicMaterial({ color: 0xffff00 });
        var sphere = new THREE.Mesh(geometrySphere, materialSphere);

        sphere.position.y = 0.5;
        sphere.position.x = 0.5 + 0.1 + 3;
        sphere.position.z = 0.5 + 0.1 + 2;

        scene.add(sphere);
        //--

        var intersected = null;

        document.body.getElementsByClassName("canvasRenderRelativeSize")[0].addEventListener('mousemove', onDocumentMouseMove, false);

        //--

        var geometryTorus = new THREE.TorusGeometry(0.5, 0.2, 10, 30); //Ring 3d
        var materialTorus = new THREE.MeshBasicMaterial({ color: 0x0000ff });
        materialTorus.representation = 'ringOnGraph';
        var torus = new THREE.Mesh(geometryTorus, materialTorus);

        torus.position.y = 0.5 + cubeWithRintHeight / 2;
        torus.position.x = 0.5 + 0.1 + 12;
        torus.position.z = 0.5 + 0.1 + 15;
        torus.rotation.x = 1.6;//flip to horizontal

        scene.add(torus);
        //--

        document.addEventListener('mousedown', onDocumentMouseDown, false);

        //--
        window.addEventListener('resize', onWindowResize, false);
        //--
        var animate = function () {
            requestAnimationFrame(animate);

            //--
            raycaster.setFromCamera(mouse, camera);

            var intersects = raycaster.intersectObjects(scene.children);

            if (intersects.length > 0) {
                var iCubeOnGraph = -1;
                for (var i = 0; i < intersects.length; i++) {
                    if (intersects[i].object.material.representation == 'sphereOfTheCube'
                        || intersects[i].object.material.representation == 'ringOnGraph'
                        || intersects[i].object.material.representation == 'ringSquareOnGraph') {
                        iCubeOnGraph = i;
                        break;
                    }
                }

                if (iCubeOnGraph != -1 && intersected != intersects[iCubeOnGraph].object) {
                    if (intersected != null)
                        intersected.material.color.setHex(intersected.currentHex);

                    intersected = intersects[iCubeOnGraph].object;
                    intersected.currentHex = intersected.material.color.getHex();
                    intersected.material.color.setHex(0xff0000);
                }
            } else {
                if (intersected != null)
                    intersected.material.color.setHex(intersected.currentHex);

                intersected = null;
            }
            //--

            renderer.render(scene, camera);
        };

        onWindowResize();
        animate();
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementsByClassName("reset-camera-button")[0].addEventListener("click", function () {
            camera.position.set(60, 60, 60);
            camera.lookAt(new THREE.Vector3(0, 0, 0));
        });

        //------------------------------

        var colorOptions = {
            Background: "#000000"
        };

        function changeColor() {
            scene.background = new THREE.Color(colorOptions.Background);
        };

        var guiColorOtions = new dat.GUI({ autoPlace: false });
        guiColorOtions.addColor(colorOptions, 'Background').onChange(changeColor);

        document.getElementsByClassName("tool-box")[0].appendChild(guiColorOtions.domElement);

        document.getElementsByClassName("tool-colorchange")[0].addEventListener("click", function () {
            if (guiColorOtions.domElement.style.visibility == 'visible') {
                guiColorOtions.domElement.style.visibility = 'hidden';
                this.className = '';
            } else {
                guiColorOtions.domElement.style.visibility = 'visible';
                this.className = 'selected';
            }
        });

        //-------------------------------

        var scaleOptions = {
            Scale: 50
        };
        //TODO: continue scale here


    });
</script>
<h2>Prototype</h2>
<br />
<div class="tool-box fade-in">
    <div class="tool-box-header">
        <i class="fas fa-arrows-alt" aria-hidden="true" title="Move box."></i>
    </div>
    <ul class="tool-box-main">
        <li class="reset-camera-button"><i class="fas fa-undo fa-lg" title="Reset camera position"></i></li>
        <li><i class="fas fa-compress fa-lg" title="Do nothing yet"></i></li>
        <li class="tool-colorchange"><i class="fas fa-palette fa-lg" title="Select background color"></i></li>
        <li class="tooltip-info">
            <i class="fas fa-info-circle fa-lg"></i>
            <div class="tooltip-text">info info <br /> nova linha</div>
        </li>
    </ul>
    <div class="tool-box-minimize">-</div>
</div>
<div class="detail-box fade-in">
    <div class="detail-box-header">
        <i class="fas fa-arrows-alt" aria-hidden="true"></i>
        <div class="detail-box-minimize">-</div>
    </div>
    <!---->
    <h4>título</h4>
    <p>parágrafo</p>
    <p>parágrafo</p>
    <hr>
    <p>parágrafo</p>
    <p>parágrafo</p>
</div>
<div class="canvasRenderRelativeSize"></div>