
@Styles.Render("~/Content/detail-box")
@Scripts.Render("~/bundles/detail-box")
@Scripts.Render("~/bundles/threejs")
@Scripts.Render("~/bundles/3dview")

<style>
    body, html {
        height: 100%;
        padding-bottom: 50px;
    }
    html, body, .container-fluid, .row, main, .canvasRenderRelativeSize {
        height: 100%;
    }
</style>
<script>
    function drawLine(x1, y1, z1, x2, y2, z2, hexColor) {
        var geometry = new THREE.Geometry();
        geometry.vertices.push(new THREE.Vector3(x1, y1, z1));
        geometry.vertices.push(new THREE.Vector3(x2, y2, z2));

        var material = new THREE.LineBasicMaterial({ color: hexColor });

        return new THREE.Line(geometry, material);
    }

    function drawCubeOnGraph(positionX, positionZ, lines, hexColor, mostHighFileLine, group) {
        var height = lines * 50 / mostHighFileLine;

        var squareSize = 1;

        var ySize = height;
        var xSize = squareSize;
        var zSize = squareSize;

        var geometry = new THREE.BoxGeometry(xSize, ySize, zSize);
        var material = new THREE.MeshBasicMaterial({ color: hexColor });
        var cube = new THREE.Mesh(geometry, material);

        material.opacity = 0.5;
        material.transparent = true;

        var adjustToZeroAxisY = ySize / 2
        var margin = 0.5;
        var sizeWithMargin = margin + squareSize;

        cube.position.y = adjustToZeroAxisY;
        cube.position.x = sizeWithMargin * positionX;
        cube.position.z = sizeWithMargin * positionZ;

        cube.group = group;
        cube.initialCalculatedPositionX = cube.position.x;
        cube.initialCalculatedPositionZ = cube.position.z;
        cube.initialCalculatedPositionY = cube.position.y;
        cube.isCube = true;
        cube.canScaleChange = true;

        return cube;
    }

    function drawHideCubeButton(positionX, positionZ, height, hexColor, group) {
        var radius = 0.5;
        var topMargin = 0.5;

        var geometry = new THREE.SphereGeometry(radius, 20, 20);
        var material = new THREE.MeshBasicMaterial({ color: hexColor });
        var sphere = new THREE.Mesh(geometry, material);

        material.opacity = 0.5;
        material.transparent = true;

        var margin = 0.5;
        var sphereSize = radius * 2; //diameter
        var sizeWithMargin = margin + sphereSize;

        sphere.position.y = radius + topMargin + height;
        sphere.position.x = sizeWithMargin * positionX;
        sphere.position.z = sizeWithMargin * positionZ;

        sphere.group = group;
        sphere.initialCalculatedPositionX = sphere.position.x;
        sphere.initialCalculatedPositionZ = sphere.position.z;
        sphere.initialHeight = height;
        sphere.radius = radius;
        sphere.topMargin = topMargin;
        sphere.isSphere = true;
        sphere.canHideRelated = true;
        sphere.canHighlightOnMouseOver = true;
        sphere.canScaleChange = true;

        return sphere;
    }

    function drawTorusOnGraph(positionX, positionZ, line, data, mostHighFileLine, group) {
        var height = line * 50 / mostHighFileLine;

        var radius = 0.7;
        var topMargin = 0.5;

        var geometryTorus = new THREE.TorusGeometry(radius, 0.1, 100, 100);
        var materialTorus = new THREE.MeshBasicMaterial({ color: 0x0000ff });
        var torus = new THREE.Mesh(geometryTorus, materialTorus);

        var margin = 0.1;
        var torusSize = radius * 2; //diameter
        var sizeWithMargin = margin + torusSize;
        var adjustToZeroAxisY = height / 2;

        torus.position.y = topMargin + adjustToZeroAxisY;
        torus.position.x = sizeWithMargin * positionX;
        torus.position.z = sizeWithMargin * positionZ;

        torus.rotation.x = 1.6; //flip to horizontal

        torus.group = group;
        torus.initialCalculatedPositionX = torus.position.x;
        torus.initialCalculatedPositionZ = torus.position.z;
        torus.initialHeight = adjustToZeroAxisY;
        torus.data = data;
        torus.topMargin = topMargin;
        torus.radius = radius;
        torus.isTorus = true;
        torus.canOpenDetailBox = true;
        torus.canHighlightOnMouseOver = true;
        torus.canScaleChange = true;

        return torus;
    }

    function drawTorusSquareOnGraph(positionX, positionZ, line, data, mostHighFileLine, group) {
        var height = line * 50 / mostHighFileLine;

        var radius = 0.7;
        var topMargin = 0.5;

        var geometryTorus = new THREE.TorusGeometry(radius, 0.1, 100, 4);
        var materialTorus = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
        var torus = new THREE.Mesh(geometryTorus, materialTorus);

        var margin = 0.1;
        var torusSize = radius * 2; //diameter
        var sizeWithMargin = margin + torusSize;
        var adjustToZeroAxisY = height / 2;

        torus.position.y = topMargin + adjustToZeroAxisY;
        torus.position.x = sizeWithMargin * positionX;
        torus.position.z = sizeWithMargin * positionZ;

        torus.rotation.x = 1.6; //flip to horizontal
        torus.rotation.z = 0.8; //rotate to equal cube node

        torus.group = group;
        torus.initialCalculatedPositionX = torus.position.x;
        torus.initialCalculatedPositionZ = torus.position.z;
        torus.initialHeight = adjustToZeroAxisY;
        torus.data = data;
        torus.topMargin = topMargin;
        torus.isTorusSquare = true;
        torus.canOpenDetailBox = true;
        torus.canHighlightOnMouseOver = true;
        torus.canScaleChange = true;

        return torus;
    }

    //function getRamdomColor() {
    //    return '#' + Math.floor(Math.random() * 16777215).toString(16);
    //}

    function onDocumentMouseMove(event) {
        var positions = document.body.getElementsByClassName("canvasRenderRelativeSize")[0].getBoundingClientRect();

        setMouseRelativePosition(event, positions);
    }

    function setMouseRelativePosition(eventAbsolute, relativePositions) {
        mouse.x = ((eventAbsolute.clientX - relativePositions.x) / getRelativeWidth()) * 2 - 1;
        mouse.y = - ((eventAbsolute.clientY - relativePositions.y) / getRelativeHeight()) * 2 + 1;
    }

    function onDocumentMouseDown(event) {
        var positions = document.body.getElementsByClassName("canvasRenderRelativeSize")[0].getBoundingClientRect();
        setMouseRelativePosition(event, positions);

        raycaster.setFromCamera(mouse, camera);

        var intersects = raycaster.intersectObjects(scene.children);
        if (intersects.length > 0) {
            var intersect = intersects[0];

            if (intersect.object.canOpenDetailBox) {
                var box = document.getElementsByClassName("detail-box")[0];

                box.style.visibility = 'visible';

                var boxMain = box.getElementsByClassName("detail-box-main")[0];

                var wrapper = document.createElement('div');
                wrapper.innerHTML = intersect.object.data;

                boxMain.innerHTML = '';
                boxMain.appendChild(wrapper);
            }

            if (intersect.object.canHideRelated) {
                var cubeFromSphere = scene.getObjectById(intersect.object.cubeId, true);

                if (cubeFromSphere.visible)
                    cubeFromSphere.visible = false;
                else
                    cubeFromSphere.visible = true;
            }
        }
    }

    function getRelativeHeight() {
        return document.body.getElementsByClassName("canvasRenderRelativeSize")[0].offsetHeight;
    }

    function getRelativeWidth() {
        return document.body.getElementsByClassName("canvasRenderRelativeSize")[0].offsetWidth;
    }

    function onWindowResize() {
        camera.aspect = getRelativeWidth() / getRelativeHeight();
        camera.updateProjectionMatrix();

        renderer.setSize(getRelativeWidth(), getRelativeHeight());

        //--
        var box = document.getElementsByClassName("detail-box")[0];
        relocateDetailBox(box, renderer.getSize().width, renderer.getSize().height);
    }

    function loadGraph() {
        var sessionArray = sessionData.getArray();

        for (var s = 0; s < sessionArray.length; s++) {

            var lScene = new THREE.Scene();

            var axesHelper = new THREE.AxesHelper(50);
            lScene.add(axesHelper);

            var gridHelper = new THREE.GridHelper(100, 10);
            lScene.add(gridHelper);

            var files = sessionData.getDataByGuid(sessionArray[s]);

            var filesGroupOrdered = files.sort(function (a, b) { return a.group - b.group });

            var groups = [];
            filesGroupOrdered.forEach(function (file) {
                if (groups.indexOf(file.group) == -1)
                    groups.push(file.group);
            });

            var cGroupLimit = Math.ceil(Math.sqrt(groups.length));

            var lTotal = 0, cTotal = 0, higherL = 0, cG = 0;
            groups.forEach(function (group) {
                var filesOfGroup = files.filter(function (file) {
                    return file.group == group;
                });

                var cLimit = Math.ceil(Math.sqrt(filesOfGroup.length));
                cLimit = cLimit + cTotal;

                var l = lTotal, c = cTotal;
                filesOfGroup.forEach(function (file) {
                    if (c == cLimit) {
                        l++;
                        c = cTotal;
                    }

                    if (l > higherL)
                        higherL = l;

                    file.x = c;
                    file.z = l;

                    c++;
                });

                cTotal = cLimit + 1;

                cG++;

                if (cG == cGroupLimit) {
                    lTotal = higherL + 1 + 1;
                    higherL = 0;
                    cTotal = 0;
                    cG = 0;
                }
            });

            var mostHighFileLine = 0;
            for (var i = 0; i < files.length; i++) {
                if (files[i].lines > mostHighFileLine)
                    mostHighFileLine = files[i].lines;
            }

            var color = '';
            for (var i = 0; i < files.length; i++) {
                if (i == 0)
                    color = colorPalette.pickUpColor();
                else if (files[i - 1].group != files[i].group)
                    color = colorPalette.pickUpColor();

                var cube = drawCubeOnGraph(files[i].x, files[i].z, files[i].lines, color, mostHighFileLine, files[i].group);
                var hideButton = drawHideCubeButton(files[i].x, files[i].z, cube.geometry.parameters.height, color, files[i].group);

                hideButton.cubeId = cube.id;

                for (var j = 0; j < files[i].breakpoints.length; j++) {
                    var torus = drawTorusOnGraph(files[i].x, files[i].z, files[i].breakpoints[j].line, files[i].breakpoints[j].data, mostHighFileLine, files[i].group);
                    torus.cubeId = cube.id;

                    lScene.add(torus);
                }

                for (var j = 0; j < files[i].events.length; j++) {
                    var square = drawTorusSquareOnGraph(files[i].x, files[i].z, files[i].events[j].line, files[i].events[j].data, mostHighFileLine, files[i].group);
                    square.cubeId = cube.id;

                    lScene.add(square);
                }

                lScene.add(cube);
                lScene.add(hideButton);
            }

            lScene.sessionGuid = sessionArray[s];

            scenes.push(lScene);
        }
    }

    var camera = new THREE.PerspectiveCamera(45, 0, 1, 500);
    var scene = undefined;
    var scenes = [];
    var mouse = new THREE.Vector2();
    var raycaster = new THREE.Raycaster();
    var renderer = new THREE.WebGLRenderer();
    var stats = new Stats();

    document.addEventListener("DOMContentLoaded", function () {
        renderer.setSize(getRelativeWidth(), getRelativeHeight());

        var canvasRenderRelativeSize = document.body.getElementsByClassName("canvasRenderRelativeSize")[0];
        canvasRenderRelativeSize.appendChild(renderer.domElement);
        canvasRenderRelativeSize.appendChild(stats.dom);

        stats.dom.style.position = 'static';
        stats.dom.style.top = 'auto';
        stats.dom.style.left = 'auto';
        stats.dom.style.float = 'left';
        stats.dom.style.marginTop = '-55px';

        initDetailBox(renderer.getSize().width, renderer.getSize().height);

        camera.position.set(60, 60, 60);
        camera.lookAt(new THREE.Vector3(0, 0, 0));

        var orbit = new THREE.OrbitControls(camera, renderer.domElement);
        orbit.enableZoom = true;
        orbit.maxPolarAngle = Math.PI * 0.5;

        var intersected = null;

        document.body.getElementsByClassName("canvasRenderRelativeSize")[0].addEventListener('mousemove', onDocumentMouseMove, false);

        document.addEventListener('mousedown', onDocumentMouseDown, false);

        window.addEventListener('resize', onWindowResize, false);

        var animate = function () {
            requestAnimationFrame(animate);

            //--
            raycaster.setFromCamera(mouse, camera);

            var intersects = raycaster.intersectObjects(scene.children);

            if (intersects.length > 0) {
                var iCubeOnGraph = -1;
                for (var i = 0; i < intersects.length; i++) {
                    if (intersects[i].object.canHighlightOnMouseOver) {
                        iCubeOnGraph = i;
                        break;
                    }
                }

                if (iCubeOnGraph != -1 && intersected != intersects[iCubeOnGraph].object) {
                    if (intersected != null)
                        intersected.material.color.setHex(intersected.currentHex);

                    intersected = intersects[iCubeOnGraph].object;
                    intersected.currentHex = intersected.material.color.getHex();
                    intersected.material.color.setHex(0xff0000);
                }
            } else {
                if (intersected != null)
                    intersected.material.color.setHex(intersected.currentHex);

                intersected = null;
            }
            //--

            renderer.render(scene, camera);
            stats.update();
        };

        onWindowResize();

        loadGraph();

        loadProjectSelect();
        loadSessionSelect(document.getElementById("project-select").value);

        animate();

        //-----

        document.getElementsByClassName("reset-camera-button")[0].addEventListener("click", function () {
            camera.position.set(60, 60, 60);
            camera.lookAt(new THREE.Vector3(0, 0, 0));
        });

        //------------------------------

        var colorOptions = {
            Background: "#000000",
            Groups: colorPalette.defaultColorPaletteName
        };

        function changeColor() {
            scene.background = new THREE.Color(colorOptions.Background);
        };

        function changeGroupColor() {
            var groupBefore = undefined;
            var firstNodeOfGroup = undefined;
            var color = '';

            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh && node.canScaleChange) {

                    if (groupBefore == undefined) {
                        groupBefore = node.group;
                        firstNodeOfGroup = node;

                        color = colorPalette.pickUpColor(colorOptions.Groups);
                    } else if (groupBefore != node.group) {
                        groupBefore = node.group;
                        firstNodeOfGroup = node;

                        color = colorPalette.pickUpColor(colorOptions.Groups);
                    } 

                    node.material.color = new THREE.Color(color);
                }
            });            
        };

        var guiColorOtions = new dat.GUI({ autoPlace: false });
        guiColorOtions.add(colorOptions, 'Groups', colorPalette.getColorPalatteArray()).onChange(changeGroupColor);
        guiColorOtions.addColor(colorOptions, 'Background').onChange(changeColor);

        document.getElementsByClassName("tool-box")[0].appendChild(guiColorOtions.domElement);

        document.getElementsByClassName("tool-colorchange")[0].addEventListener("click", function () {
            if (guiColorOtions.domElement.style.visibility == 'visible') {
                guiColorOtions.domElement.style.visibility = 'hidden';
                this.className = '';
            } else {
                guiColorOtions.domElement.style.visibility = 'visible';
                this.className = 'selected';
            }
        });

        //-------------------------------

        var scaleOptions = {
            cubeSpace: 1,
            groupSpace: 1,
            fileScale: 1,
            breakpointScale: 0.1,
            eventScale: 0.1
        };

        function changeCubeScale() {
            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh) {
                    if (node.canScaleChange) {
                        node.position.x = node.initialCalculatedPositionX * scaleOptions.cubeSpace;
                        node.position.z = node.initialCalculatedPositionZ * scaleOptions.cubeSpace;
                    }
                }
            });
        };

        function changeGroupScale() {
            var groupBefore = undefined;
            var firstNodeOfGroup = undefined;

            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh && node.canScaleChange) {

                    if (groupBefore == undefined) {
                        groupBefore = node.group;
                        firstNodeOfGroup = node;

                        node.position.x = node.initialCalculatedPositionX * scaleOptions.groupSpace;
                        node.position.z = node.initialCalculatedPositionZ * scaleOptions.groupSpace;
                    } else if (groupBefore != node.group) {
                        groupBefore = node.group;
                        firstNodeOfGroup = node;

                        node.position.x = node.initialCalculatedPositionX * scaleOptions.groupSpace;
                        node.position.z = node.initialCalculatedPositionZ * scaleOptions.groupSpace;
                    } else {
                        node.position.x = (firstNodeOfGroup.position.x - firstNodeOfGroup.initialCalculatedPositionX) + node.initialCalculatedPositionX;
                        node.position.z = (firstNodeOfGroup.position.z - firstNodeOfGroup.initialCalculatedPositionZ) + node.initialCalculatedPositionZ;
                    }
                }
            });
        };

        function changeFileScale() {
            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh && node.canScaleChange) {
                    if (node.isCube != undefined) {
                        node.scale.y = scaleOptions.fileScale;
                        node.position.y = node.initialCalculatedPositionY * scaleOptions.fileScale;
                    } else if (node.isSphere != undefined) {
                        node.position.y = (node.initialHeight * scaleOptions.fileScale) + node.topMargin + node.radius;
                    } else if (node.isTorus != undefined || node.isTorusSquare != undefined) {
                        node.position.y = (node.initialHeight * scaleOptions.fileScale) + node.topMargin;
                    }
                }
            });
        };

        function changeBreakpointScale() {
            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh && node.canScaleChange && node.isTorus) {
                    node.geometry = new THREE.TorusBufferGeometry(node.radius, scaleOptions.breakpointScale, 100, 100);
                }
            });
        };

        function changeEventScale() {
            scene.traverse(function (node) {
                if (node instanceof THREE.Mesh && node.canScaleChange && node.isTorusSquare) {
                    node.geometry = new THREE.TorusBufferGeometry(node.radius, scaleOptions.eventScale, 100, 4);
                }
            });
        };

        var guiScaleOtions = new dat.GUI({ autoPlace: false });
        guiScaleOtions.add(scaleOptions, 'cubeSpace', 1, 5).onChange(changeCubeScale);
        guiScaleOtions.add(scaleOptions, 'groupSpace', 1, 5).onChange(changeGroupScale);
        guiScaleOtions.add(scaleOptions, 'fileScale', 0.1, 3).onChange(changeFileScale);
        guiScaleOtions.add(scaleOptions, 'breakpointScale', 0.03, 0.3).onChange(changeBreakpointScale);
        guiScaleOtions.add(scaleOptions, 'eventScale', 0.03, 0.3).onChange(changeEventScale);

        document.getElementsByClassName("tool-box")[0].appendChild(guiScaleOtions.domElement);

        document.getElementsByClassName("tool-scalechange")[0].addEventListener("click", function () {
            if (guiScaleOtions.domElement.style.visibility == 'visible') {
                guiScaleOtions.domElement.style.visibility = 'hidden';
                this.className = '';
            } else {
                guiScaleOtions.domElement.style.visibility = 'visible';
                this.className = 'selected';
            }
        });

        function resetSessionScene() {
            for (var i = 0; i < scenes.length; i++) {
                if (scenes[i].sessionGuid == sessionData.getDefault()) {
                    scene = scenes[i];
                    break;
                }
            }
        }

        //--
        function loadSessionSelect(projectGuid) {
            var sessionSelect = document.getElementById("session-select");

            do {
                sessionSelect.remove(0);
            } while (sessionSelect.length > 0);

            var dataOfProject = projectData.getDataByGuid(projectGuid);

            for (let i = 0; i < dataOfProject.length; i++) {
                var session = sessionData.getByGuid(dataOfProject[i]);
                var option = document.createElement('option');

                option.text = session.name;
                option.value = session.guid;

                if (session.guid == sessionData.getDefault())
                    option.selected = true;

                sessionSelect.add(option);
            }

            sessionData.setDefault(sessionSelect.value);
            resetSessionScene();

            sessionSelect.addEventListener("change", function () {
                sessionData.setDefault(sessionSelect.value);
                resetSessionScene();
            });
        }

        function loadProjectSelect() {
            var projectSelect = document.getElementById("project-select");
            var projectArray = projectData.getArray();

            for (let i = 0; i < projectArray.length; i++) {
                var option = document.createElement('option');

                option.text = projectArray[i].name;
                option.value = projectArray[i].guid;

                if (projectArray[i].guid == projectData.getDefault())
                    option.selected = true;

                projectSelect.add(option);
            }

            projectSelect.addEventListener("change", function () {
                loadSessionSelect(projectSelect.value);
            });
        }
    });
</script>
<h2 class="view3d-title">Prototype</h2>
<label for="project-select">Projects: </label>
<select id="project-select"></select>
&nbsp;&nbsp;&nbsp;
<label for="session-select">Sessions: </label>
<select id="session-select">
</select>
<br />
<div class="tool-box fade-in">
    <div class="tool-box-header">
        <i class="fas fa-arrows-alt" aria-hidden="true" title="Move box."></i>
    </div>
    <ul class="tool-box-main">
        <li class="reset-camera-button"><i class="fas fa-undo fa-lg" title="Reset camera position"></i></li>
        <li class="tool-scalechange"><i class="fas fa-compress fa-lg" title="Change scales"></i></li>
        <li class="tool-colorchange"><i class="fas fa-palette fa-lg" title="Select background color"></i></li>
        <li class="tooltip-info">
            <i class="fas fa-info-circle fa-lg"></i>
            <div class="tooltip-text">info info <br /> nova linha</div>
        </li>
    </ul>
    <div class="tool-box-minimize">-</div>
</div>
<div class="detail-box fade-in">
    <div class="detail-box-header">
        <i class="fas fa-arrows-alt" aria-hidden="true"></i>
        <div class="detail-box-minimize">-</div>
    </div>
    <div class="detail-box-main"></div>
</div>
<div class="canvasRenderRelativeSize"></div>