
@Scripts.Render("~/bundles/cytoscape")

<style>
    body, html {
        height: 100%;
        padding-bottom: 110px;
    }
    body > div.container {
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;

        height: 100%;
    }
</style>
<h2>Prototype</h2>
<br />
