.detail-box {
    display: block;
    border: 1px solid #224377;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.90);
    color: #eee;
    font: 11px Lucida Grande,sans-serif;
    text-shadow: 0 -1px 0 #111;
    transition: opacity .1s linear;
    transition: height .1s linear;
    resize: both;
    overflow: auto;
    position: absolute;
    visibility: hidden;
    border-radius: 1px;

    width: 250px; /*Review later*/
    top: 180px;
    left: 30px;
}

.detail-box hr {
    border: 1px solid;
}

.detail-box-header {
    padding: 2px;
    cursor: move;
    z-index: 10;
    background-color: #224377;
    color: #fff;
    border-radius: 3px;
}

.detail-box-minimize {
    float: right;
    width: 20px;
    cursor: pointer;
    text-align:center;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*tool-box*/
.tool-box {
    display: block;
    border: 1px solid #224377;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.90);
    color: #eee;
    font: 11px Lucida Grande,sans-serif;
    text-shadow: 0 -1px 0 #111;
    transition: opacity .1s linear;
    transition: height .1s linear;
    position: absolute;
    height: 35px;
    border-radius: 1px;
    /*Review later*/
    width: 200px;
    /*margin: 5px;*/
    top:135px;
    left:30px;
}

.tool-box-main {
    float: left;
    padding: 2px;
    line-height:29px;
}
    .tool-box-main {
        padding:unset;
        margin:unset;
    }
    .tool-box-main li {
        margin-left: 5px;
        margin-right: 5px;
        list-style-type: none;
        display: inline-block;
        padding-left:5px;
        padding-right:5px;
    }

        .tool-box-main li:hover {
            font-size: 12px;
            cursor: pointer;
            background-color: #4286f4;
            border-radius:5px;
        }

        .tool-box-main li.selected {
            font-size: 12px;
            cursor: pointer;
            background-color: #4286f4;
            border-radius: 5px;
        }

.tool-box-header {
    padding: 2px;
    cursor: move;
    z-index: 10;
    background-color: #224377;
    color: #fff;
    width: 15px;
    height: 100%;
    float: left;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 3px;
}

.tool-box-minimize {
    float: right;
    width: 15px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    background-color: #224377;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 3px;
}

/*tooltip-text*/
.tooltip-text {
    display: block;
    border: 1px solid #4286f4;
    border-radius: 1px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.90);
    color: #eee;
    font: 11px Lucida Grande,sans-serif;
    text-shadow: 0 -1px 0 #111;
    transition: opacity .1s linear;
    transition: height .1s linear;
    visibility:hidden;
    position: absolute;
    width: 250px; /*Review later*/
    top: 55px;
    left: 115px;
}
    .tooltip-text:after {
        content: '';
        position: absolute;
        top: 0;
        left: 40px;
        width: 0;
        height: 0;
        border: 18px solid transparent;
        border-bottom-color: #4286f4;
        border-top: 0;
        border-left: 0;
        margin-left: -9px;
        margin-top: -18px;
    }

.tooltip-info:hover .tooltip-text {
    visibility:visible;
}

/*tool-colorchange*/
.tool-box > div.main {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: 0px;
}

.tool-box div.main .close-button {
    display: none;
}

.tool-box div.main li {
    margin: unset;
    list-style-type: unset;
    display: list-item;
    padding: 0 4px 0 5px;
}

    .tool-box div.main li:hover {
        font-size: unset;
        cursor: unset;
        background-color: unset;
        border-radius: unset;
    }

    .tool-box div.main li input {
        line-height: 15px;
    }