.detail-box {
    display: block;
    border: 1px solid #224377;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 11px;
}
.source-code-event {
    background-color: #7fffd4;
}
.source-code-selected {
    background-color: #ffff00;
}
.source-code-breakpoint {
    background-color: #ff0000;
    width: 10px;
    height: 16px;
    float: left;
}
