<h1>Code Metrics</h1>
<br />
<h3>Code metrics from ODS (Open Document) files.</h3>
<hr />
<br />
@using (Html.BeginForm("Upload", "CodeMetrics", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
<hr />
